---
# tasks file for ansible-role-dokku
- name: "Install apt-transport-https,ca-certificates,curl"
  apt: name=apt-transport-https,ca-certificates,curl
- name: "Install software-properties-common"
  apt: name=software-properties-common
  when: ( ansible_lsb.codename == "jessie" or ansible_lsb.codename == "stretch" )

# Install dokku
- name: "Add packagecloud apt key"
  apt_key:
    url: "https://packagecloud.io/dokku/dokku/gpgkey"
    id: "FB2B6AA421CD193F"

- name: "Add apt repository of dokku"
  apt_repository:
    repo: "deb https://packagecloud.io/dokku/dokku/ubuntu/ trusty main"
    # Use trusty for all Ubuntu (see bootstrap.sh of Dokku)
  when: ansible_distribution == 'Ubuntu'
- name: "Add apt repository of dokku"
  apt_repository:
    repo: "deb https://packagecloud.io/dokku/dokku/debian/ stretch main"
    # Use stretch for all Debian (see bootstrap.sh of Dokku)
  when: ansible_distribution == 'Debian'

- name: "debconf dokku/vhost_enable"
  debconf:
    name: dokku
    question: dokku/vhost_enable
    value: "{{ dokku_vhost_enable }}"
    vtype: boolean
- name: "debconf dokku/web_config"
  debconf:
    name: dokku
    question: dokku/web_config
    value: "{{ dokku_web_config }}"
    vtype: boolean
- name: "debconf dokku/hostname"
  debconf:
    name: dokku
    question: dokku/hostname
    value: "{{ dokku_hostname }}"
    vtype: string
- name: "debconf dokku/skip_key_file"
  debconf:
    name: dokku
    question: dokku/skip_key_file
    value: "{{ dokku_skip_key_file }}"
    vtype: boolean
- name: "debconf dokku/key_file"
  debconf:
    name: dokku
    question: dokku/key_file
    value: "{{ dokku_key_file }}"
    vtype: string

- name: "Install dokku"
  apt:
    name: "dokku{{ dokku_version }}"
    install_recommends: yes
    update_cache: yes
    cache_valid_time: 3600

- name: "Install plugin"
  command: >-
    creates=/var/lib/dokku/plugins/available/{{ item.name }}
    dokku plugin:install {{ item.url }}
  with_items: "{{ dokku_plugin }}"

- name: "Create /etc/nginx/conf.d/client_max_body_size.conf"
  template:
    src: client_max_body_size.conf.j2
    dest: /etc/nginx/conf.d/client_max_body_size.conf
    owner: root
    group: root
    mode: 0444
